- var url = document.documentURI;
.container(data-spy="scroll", data-target="#affix-nav", data-offset-top="60", data-offset-bottom="200")
  .row
    .col-md-8
      section(id="cinesunt")
        h1 Monica Macovei CV
        .content.small
          ul
            li Membru al Parlamentului European (Grupul Partidului Popular European – PPE):
            li Președintă, Delegaţia Parlamentului European la Comisia parlamentară de cooperare UE-Moldova;
            li Membru, Comisia pentru libertăţi civile, justiţie şi afaceri interne (LIBE);
            li Membru, Comisia specială pentru crimă organizată, corupție și spălare de bani (CRIM);
            li Membru, Comisia pentru control bugetar (CONT);
            li Membru, Conferinţa preşedinţilor de delegaţie (CPDE);
            li Membru, Delegaţia Parlamentului European la Adunarea Parlamentară Euronest (DEPA); membru al Comisiei de poliție, drepturile omului și democrație din DEPA;
            li Membru supleant, Comisia pentru afaceri externe (AFET);
            li Membru supleant, Delegaţia Parlamentului European la Comisia parlamentară mixtă UE-Macedonia;
            li Membru, Intergrupul Tibet.

      section(id="premii")
        h2 PREMII ȘI RECUNOAȘTERE PUBLICĂ
        .content
          p.strong Locul I din cei 754 europarlamentari, in 2012, cu 35 rapoarte adoptate în plenul Parlamentul European;
          ul
            li Premiul „Membrul Parlamentului European pentru Justiție și Libertăți Civile”, Bruxelles, septembrie 2012;
            li Medalie cu ocazia comemorării revoltei anticomuniste din 15 noiembrie 1987 de la Braşov, noiembrie 2012;
            li Premiul Universității Central Europene “20th Anniversary CEU Alumni Hero”, Budapesta, septembrie 2011;
            li Femeia Europeană a Anului, Bruxelles, noiembrie 2008;
            li Academician, Academia Europeană Yuste, Spania, iunie 2008;
            li Comunicatorul Anului 2006, Premiul PR, Forum International Communications, noiembrie 2006;
            li Premiul “Speranta”, Societatea Timisoara si Premiul Grupului pentru Dialog Social, 2005;
            li Financial Times (2006):  “Pentru admiratorii ei de la Bruxelles, Monica Macovei este un erou care a transformat Romania din una dintre cele mai corupte parti ale Europei in unul dintre cei mai credibili candidati pentru aderarea la UE”;
            li Die Welt (2006):  “Pentru Romania, aderarea la Uniunea Europeană aproape că nu ar fi fost posibilă fără Monica Macovei”.

      section(id="apartenenta")
        h2 APARTENENȚĂ LA ORGANIZAȚII/FUNDAȚII
        .content
          p.strong The Parliament Magazine, membru în board-ul editorial, 2013 – prezent;
          ul
            li Platforma pentru Memorie şi Conştiinţă Europeană, membru Board of Trustees, noiembrie 2012 – prezent;
            li Consiliul European pentru Relații Externe, membru, 2012 – prezent;
            li Societatea Academică Română, membru în Senat, 2011 – prezent;
            li Academia Europeană Yuste, Spania, membru, 2008 – prezent;
            li Universitatea Central Europeană, membru Board of Trustees, octombrie 2007 – prezent;
            li Grupul pentru Dialog Social, România, membru, 2007 – prezent;
            li Transparency International România, membru fondator, 1999 – prezent;
            li Eisenhower Exchange Fellowships, SUA, fellow, 1997 – prezent;
            li Asociația Română pentru Apărarea Drepturilor Omului, Comitetul Helsinki (APADOR-CH), membru 1997 – prezent, președinte 1999-2004.

      section(id="educatie")
        h2 EDUCAȚIE
        .content
          ul
            li 1992-1993         Master în Drept Constituțional Comparat, Universitatea Statului New York, Albany, SUA și Universitatea Central Europeană, Budapesta;

            li 1978-1982         Licențiat în drept magna cum laudae, Universitatea București, Facultatea de Drept.

      section(id="pregatire")
        h2 PREGĂTIRE PROFESIONALĂ
        .content
          p.strong Domenii de interes: Afaceri Internationale, Comunicare, Media, Drept
          ul
            li 1997 – Eisenhower Exchange Fellowship, Implicarea Viitorilor Conducatori, Program Multi-National, SUA
            li 1996 - Administrarea justiției în statele membre UE, Programul de vizitatori ai Uniunii Europene, Bruxelles, Roma, Madrid
            li 1995 - Protecția Internațională a Drepturilor Omului, Curs Avansat, Universitatea Abo/Turku, Finlanda
            li 1994 – Teoria și Practica Drepturilor Omului – Drept internațional și european, Universitatea Birmingham, Facultatea de Drept, li Institutul de Drept European, Marea Britanie
            li 1994 – Drept Internațional Public și Instituții Transnaționale, Salzburg Seminar, Austria

      section(id="experienta")
        h2 EXPERIENȚĂ PROFESIONALĂ
        .content
          h3 2009 – prezent   Membru al Parlamentului European
          ul
            li A scris și negociat rapoarte legislative privind politica comună de azil a UE, sechestrul și confiscarea bunurilor provenite din infracțiuni, protecția intereselor financiare ale Uniunii etc.;
            li a inițiat, scris și negociat o Declarație scrisă și o Rezoluție privind eforturile Uniunii de combatere a corupției; a inițiat un proiect pilot pentru Dezvoltarea unui Mecanism de Evaluare în sfera anticorupției pentru identificarea și reducerea costurilor corupției în achizițiile publice care implică fonduri UE, finalizat in 2013 printr-un studiu comandat de Oficiul de lupta antifraudă al UE (OLAF);
            li a susținut peste 200 de amendamente pentru mai mult de 50 de rapoarte legislative în sfera anticorupției, antifraudei, achizițiilor publice și transparenței, inclusiv în cheltuirea fondurilor UE de către statele membre și instituțiile UE;
            li a susținut amendamente referitoare la implementarea reformelor judiciare și anticorupție în țările candidate, condițiile de intrare și rezidență a cetățenilor non-UE pentru angajarea sezonieră, drepturile fundamentale în UE, politica de vecinătate europeană, accesul public la informații și documente ale Parlamentului European, Consiliului și Comisiei;
            li a condus întâlnirile comisiilor de cooperare parlamentară cu Republica Moldova, a scris și negociat Recomandări, a organizat întâlniri și audieri privind implementarea de către autoritățile moldovenești a angajamentelor europene asumate în cadrul negocierilor pentru Acordul de asociere cu UE, Acordul de Liber Schimb Aprofundat și Cuprinzător, Planul de Acțiune pentru Liberalizarea Vizelor și regiunea Transnistreană, a condus misiunea PE de observare a alegerilor palamentare anticipate din 2010 în Republica Moldova; a inițiat, scris și negociat Rezoluții privind Republica Moldova;
            li a co-semnat peste 100 de Rezoluții privind încălcarea drepturilor omului în țări terțe; a avut peste 300 de intervenții orale în plenul PE; a adresat întrebări Comisiei Europene și Consiliului; a organizat audieri publice.

          h3 Parlamentul României
          p.strong a inițiat, scris și susținut, prin intermediul parlamentarilor naționali, Legea privind eliminarea prescripției pentru omor, crime de război, genocid și crime împotriva umanității, indiferent de data la care au fost comise; legea a fost adoptată în 2012.

          h3 Consultant anti-corupție, Ministerul de Externe al Regatului Unit al Marii Britanii și Irlandei de Nord, Ambasada Regatului Unit în Macedonia; Global Opportunities Fund, Reunificarea Europei, Proiectul Anti-Corupție (2007-2009)
          ul
            li Acordat consultanță Primului Ministru al Macedoniei, altor membri ai Guvernului și autorităților publice, în domeniul anti-corupției și reformelor în justiție;
            li Sprijinit Guvernul pentru adoptarea și bugetarea Planului de Acțiune anti-corupție și monitorizarea aplicării acestuia; pregătit autoritățile publice pentru misiunile de evaluare ale Comisiei Europene;
            li Participat la elaborarea legislației cu privire la confiscarea extinsă, îmbogățirea ilicită și măsurile de supraveghere în domeniul criminalității organizate și corupției;
            li Coordonat cu comunitatea internațională, politicieni, instituții juridice și organizații neguvernamentale.
          h3 Expert, Taiex, Comisia Europeană

          p Pregătit profesioniști în domeniul anti-corupției și reformei justiției în țări candidate și potențial candidate la UE.

          h3 2005-Apr. 2007   Ministrul Justiției, Guvernul României
          p.strong Contribuit la intrarea Romaniei în UE la 1 ianuarie 2007 prin politici și acțiuni care au eliminat problemele serioase identificate de UE (“stegulețele roșii”) în următoarele domenii: corupția la nivel înalt, reforma justiției, spălarea banilor, drepturile de proprietate intelectuală:
          ul
            li Elaborat și implementat Strategiile Naționale și Planurile de Acțiune 2005-2007 pentru reforma sistemului juridic și lupta împotriva corupției în România;
            li Înființat Direcția Națională Anticorupție (DNA) pentru anchetarea infracțiunilor de corupție și fraudă la nivel înalt și a fraudei asupra fondurilor europene;
            li Organizat și condus implementarea reformei sistemului judiciar, a măsurilor anti-corupție, anti spălarea banilor și respectarea proprietății intelectuale, în procesul de aderare a României;
            li Elaborat proiectul noului Cod Penal; reluat redactarea noilor Coduri Civil și de Procedură Civilă; inițiat redactarea noului Cod de Procedură Penală;
            li Inițiat și susținut legislație în Guvern și Parlament, cu referire, între altele, la: reforma justiției; incriminarea conflictului de interese; DNA și competențele acesteia; combaterea spălării banilor; declarațiile publice de avere și interese pentru persoane cu funcții publice; modificări ale Codurilor Penal și Civil și Codurilor de Procedură Penală și Civilă; insolvența; legea societăților comerciale; finanțarea partidelor politice și a campaniilor electorale; abrogarea infracțiunilor de insultă și calomnie etc.;
            li Informatizat sistemul judiciar, implementat distribuirea aleatorie a cazurilor la instanțele de judecată, renovat și amenajat sedii ale instanțelor de judecată, condus sistemul penitenciar etc;
            li Stabilit și menținut contacte permanente și directe cu Comisia Europeană, Parlamentul European, guvernele și parlamentele statelor membre UE etc., pentru susținerea integrării Romaniei în UE.

          h3 2002-2004         Expert reforma justiției, Consiliul Europei, Biroul din Bosnia & Herțegovina
          ul
            li Implementat proiectul comun al Consiliului Europei și Comisiei Europene pentru întărirea independenței și eficienței sistemului judiciar în Bosnia & Herțegovina;
            li Participat la constituirea Consiliilor pentru judecători și procurori, renumirea judecătorilor și procurorilor, redactarea noului Cod de Procedură Civilă și pregătirea implementării acestuia;
            li Asigurat conformitatea reformelor judiciare și a noii legislații adoptate în Bosnia & Herțegovina cu standardele Consiliului Europei și jurisprudența Curții Europene a Drepturilor Omului;
            Coordonat cu comunitatea internațională, politicieni, instituții juridice și ONG-uri din Bosnia & Herțegovina.

          h3 1999-2000         Consultant legal, Departamentul Statul de Drept, Misiunea OSCE în Kosovo – detașată de Consiliul Europei
          ul
            li Participat la înființarea instituției Avocatului Poporului, la numirea judecătorilor și procurorilor;
            li Redactat legislație (ex. legea Avocatului Poporului etc.), organizat sesiuni de pregătire pentru personalul din sistemul judiciar, din administrația publică, ONG-uri, studenți;
            li Organizat consultări pe proiecte de lege cu toate minoritățile etnice și organizat evenimente tip “getting together” intr-o societate civilă post-conflict.

          h3 1995-2002         Expert, Consiliul Europei, Direcția Juridică, Direcția Drepturile Omului și Unitatea de Monitorizare a Secretarului General al Consiliului Europei
          ul
            li Condus activități și misiuni pentru dezvoltarea și consolidarea stabilității democratice în: Federația Rusă, Ucraina, Lituania, Albania, Moldova, Cehia, Georgia, Macedonia, Serbia, Bosnia & Herțegovina, Armenia, altele;
            li Pregătit peste 1000 de judecători, procurori, avocați, jurnaliști, ONG-uri și instituții publice, cu privire la statul de drept, Convenția Europeană a Drepturilor Omului și jurisprudența Curții;
            li Efectuat misiuni de monitorizare privind respectarea libertății de exprimare în state membre, pe baza mandatului Secretarului General al Consiliului Europei;
            li Redactat și prezentat rapoarte în fața Consiliului de Miniștri al Consiliului Europei;
            li Scris manuale pentru practicieni pentru aplicarea hotărârilor Curții Europene a Drepturilor Omului în materia libertății de exprimare și a dreptului persoanei la libertate și siguranță.

          h3 1999-2004         Președinte, Asociația Română pentru Apărarea Drepturilor Omului – Comitetul Helsinki (APADOR-CH)
          ul
            li Condus programe privind libertatea presei, accesul la informații, drepturile individuale v. securitatea națională, drepturile deținuților, despăgubiri în sistemul justiției penale, asistență juridică gratuită, independența justiției;
            li Redactat documente de poziție privind proiecte de lege pentru modificarea Codurilor penal și de procedură penală, legile informațiilor clasificate și a siguranței naționale, accesului la informații, poliției, instanțelor militare;
            li Reprezentat victimele încălcării drepturilor omului în fața instanțelor naționale și a Curții Europene a Drepturilor Omului;
            li Pregătit peste 100 de avocați și jurnaliști cu privire la aplicarea legii accesului la informații.

          h3 1997-prezent     Avocat, Membru al Baroului București - în prezent nepracticant la propria cerere
          p Reprezentat victime ale încălcării drepturilor omului în fața instanțelor naționale și a Curții Europene a Drepturilor Omului; câștigat peste 20 de cazuri la Curtea Europeană a Drepturilor Omului pentru reclamanți români.

          h3 1998-2000         Expert, Grupul de specialiști pentru reglementări legale privind Presa și Drepturile Omului, Consiliul Europei
          p Redactat recomandări pentru a fi adoptate de Consiliul de Miniștri al Consiliului Europei în următoarele domenii: dreptul jurnaliștilor de a nu dezvălui sursele de informație, informarea prin presă în legătură cu procedurile judiciare, diseminarea informațiilor și opiniilor în presă cu privire la politicieni și funcționari publici, libertatea de exprimare și dreptul la viață privată.

          h3 1994-2002         Profesor asociat, Școala Superioară de Jurnalism, București
          p Predat cursuri privind libertatea de exprimare: drept comparat și jurisprudența Curții Europene a Drepturilor Omului.

          h3 1994-1997         Consultant pro bono, Asociația Română pentru Apărarea Drepturilor Omului – Comitetul Helsinki (APADOR-CH), București
          p Acordat consultanță privind acțiuni împotriva abuzurilor poliției, drepturile deținuților, libertatea de exprimare etc.

          h3 1983-1997         Procuror, București
          p Instrumentat cazuri penale non-politice, de ex. furt, tâlhărie, vătămare etc.;

          p 1991-1992, scris raport privind arestarea ilegală în iunie 1990 a demonstranților pașnici anti-comuniști și sesizat Secția Parchetelor Militare, cerând în scris anchetarea procurorilor care au arestat ilegal; adoptat decizii de scoatere de sub urmărire penală în aproximativ 40 de cazuri  privind demonstrații anticomuniști din iunie 1990;
          p 1993-1997, instrumentat cazuri privind încălcări ale drepturilor civile de către polițiști și procurori, în Biroul pentru Drepturile Omului al Parchetului General.

      section(id="publicatii")
        h2 PUBLICAȚII – peste 50, între care:
        .content
          ul
            li “Confiscare, Sechestru și Recuperarea Averilor”, Editorial, Forumul Asociațiilor de Drept Penal European, EUCRIM 2/2013, August 2013;
            li “Membru al Parlamentului European solicită UE să ‘urmărească banii’ în crima organizată”, The Parliament Magazine, interviu, 23 aprilie 2013;
            li “Spălarea de bani”, The Parliament Magazine, Vol. 363, pp. 44-45, articol, 18 februarie 2013;
            li “Schimbări majore pentru agențiile UE care lucrează `în spatele ușilor închise`”, Serviciul Public Europa, articol, 30 octombrie 2012;
            li “Combaterea crimei organizate și a mafiei la nivel european. Rezoluția Parlamentului European și angajamentul UE” de Sonia Alfano și Varrica Adriano, Editura Franco Angeli, “Unica acțiune de combatere a corupției și a criminalității organizate”, pp. 276-279, capitol de carte, Milano, 2012;
            li “Corupția a contribuit la criza economică”, Serviciul Public Europa, articol, 29 noiembrie 2011;
            li “Jurisprudența internațională privind libertatea de exprimare”, Vol. I, Agenția de Monitorizare a Presei, carte, București, 2009;
            li “Declinul poliției secrete”, ziarul online The Guardian, articol, octombrie 2006, publicat și în “Transparență și tăcere – Un sondaj privind practicile și legile de acces la informații în paisprezece țări”, Inițiativa Institutului pentru Societate Deschisă, New York, septembrie 2006;
            li “Monitorizarea procesului de aderare la UE: Existența capacității juridice”, Editura Universității Central Europene, capitol de carte, Budapesta, 2003;
            li “Hotărâri ale Curții Europene a Drepturilor Omului – Culegere selectivă”, Vol. III, Editura Polirom, carte, București, 2003;
            li “Dreptul persoanei la libertate și securitate – Ghidul de implementare a articolului 5 din Convenția Europeană pentru Drepturile Omului”, Consiliul Europei, Direcția Generală Drepturile Omului, manual, Strasbourg, 2002;
            li “Hotărâri ale Curții Europene a Drepturilor Omului – Culegere selectivă”, Vol. II, Editura Polirom, carte, București, 2001;
            li “Libertatea de exprimare – Ghidul de implementare a articolului 10 din Convenția Europeană pentru Drepturile Omului”, Consiliul Europei, Direcția Generală Drepturile Omului, manual, Strasbourg, 2001;
            li “Monitorizare procesului de aderare la UE: Independența justiției” și “Monitorizare procesului de aderare la UE: Protecția minorităților”, Editura Universității Central Europene, capitol de carte, Budapesta, 2001;
            li “Hotărâri ale Curții Europene a Drepturilor Omului – Culegere selectivă”, Vol. I, Editura Polirom, carte, București, 2000;
            li “Protecția juridică a drepturilor omului: Mit sau realitate”, de Stanislaw Frankowski și Mark Gibney, Editura Praeger, “Protecția drepturilor omului de către justiția din România”, capitol de carte, Connecticut, 1999;
            li “Accesul la asistență juridică pentru inculpații săraci din România”, Jurnalul Școlii Parker de Drept Est-European, Vol. 5, nr. 1-2, Universitatea Columbia, articol, 1998;
            li “Cultura juridică în România”, East European Constitutional Review, Vol. 7, nr. 1, Facultatea de Drept a Universității New York și Universitatea Central Europeană, articol, 1998;
            li “România – Analiza practicii și legislației mass-media”, Federația Internațională a Jurnaliștilor și Articolul XIX, raport, Londra, 1997;
            li “Gen și societate”, de Mihaela Miroiu, Editura Alternative, “Violența împotriva femeilor”, capitol de carte, București, 1997;
            li “Libertatea de exprimare – hotărâri ale Curții Europene a Drepturilor Omului”, Top Print & Paper, carte, București, 1996;
            li “Supravegherea publică a serviciilor de informații în Europa”, Consiliul Europei, Comisia pentru afaceri juridice și drepturile omului a Adunării Parlamentare, raport, Strasbourg, 1996;
            li “Democrație și corupție”, COLPI, “Practică și legislație românească privind corupția”, capitol de carte, Budapesta, 1995;
            li “Drepturile individuale în România”, Centrul pentru Studii Politice și Analiză Comparativă, articol, București, 1994.

      section(id="discursuri")
        h2 DISCURSURI PUBLICE – peste 300, între care:
        .content
          ul
            li “Procesul de elaborare a politicilor publice în Uniunea Europeană”, Întâlnirea anuală OCEANS, HSG Berlin, 5 iulie 2013;
            li “Cum să asiguri o implementare de succes a Noii strategii de reformă judiciară în Serbia – lecții învățate”, 7th European Legal and Policy Forum, Belgrad, 21 iunie 2013;
            li “Înțelegerea corupției în UE: “Corupția și fondurile UE” ca dimensiune a politicilor publice”, Fundația Bertelsmann, Bruxelles, 9 aprilie 2013;
            li “Perspectiva europeană a Republicii Moldova”, Colegiul Europei, Bruges, 20 martie 2013;
            li “Clientelism în politică și administraţie – Conflictele de interese și alocarea preferenţială a resurselor”, masă rotundă co-organizată cu Expert Forum, Fundația Konrad Adenauer, Ambasada Finlandei și a Marii Britanii în România, Consiliul Britanic, German Marshall Fund, Bruxelles, 5 decembrie 2012;
            li “Măsuri speciale de investigație – atingerea unui echilibru între ancheta efectivă și protecția drepturilor omului”, Chișinău, 31 octombrie 2012;
            li “Depășirea provocărilor actuale și viitoare în zona euro”, discurs introductiv al 3-lea Schimb de Experiență CFO, Londra, 7 martie 2012;
            li “Combaterea corupției în UE. Principii de aplicare în practică”, conferință co-organizată cu Transparency International Bruxelles, discurs introductiv alături de Cecilia Malmstrom, Comisarul pentru Afaceri Interne, Bruxelles, 7 decembrie 2011;
            li “Scorecard în Balcani: Evaluarea indicatorilor cheie din regiune”, al 12-lea Summit Balcanic Anual în Politici Europene, Friends of Europe, Bruxelles, 30 noiembrie 2011;
            li “Reforma justiției și combaterea corupției: Lecții învățate din aderarea României la UE”, Asociația Studenților în Afaceri Europene din Oxford, Oriel College, Oxford, 18-19 noiembrie 2011;
            li “Experiența Macedoniei în domeniul anti-corupției: progrese și provocări”, Workshop U4, Skopje, 4 noiembrie 2011;
            li “Funcționarea Parlamentului European și eforturile anti-corupție la nivelul UE”, Societatea Afacerilor Europene Harvard, Harvard li Kennedy School of Government, Cambridge, 6 octombrie 2011;
            li “Leadership”, Programul MIT Sloan Fellows în Inovare și Leadership Global, Școala de Management MIT Sloan, Cambridge, 5 octombrie 2011;
            li “Reforme administrative și juridice: Lecții din Balcanii de Vest”, London School of Economics, Londra, 24 iunie 2011;
            li “Lupta împotriva corupției în Germania”, Fundația Konrad Adenauer, București, 16 mai 2011;
            li “Timed Out: Cum afectează prescripția investigarea corupției în UE”, Transparency International, Bruxelles, 30 noiembrie 2010;
            li “Provocări de leadership în abordarea ‘oameni, profit, planetă’”, Eisenhower Fellowships, Philadelphia, 19 noiembrie 2010;
            li “Eforturile UE anti-corupție: Unde ne întreptăm?”, Harvard Kennedy School of Government, Cambridge, 17 noiembrie 2010;
            li Al 4-lea Summit CFO Emerging Europe & CIS, Finance Emerging Europe, Frankfurter Allgemeine Zeitung Trust, Viena, 4 noiembrie 2010;
            li “Moldova – În căutarea descoperirii”, Centrul de Studii Politice Europene, Bruxelles, 7 octombrie 2010;
            li “Adevăratul cost al fraudei și corupției în sănătate”, European Healthcare Fraud și Corruption Network, Bruxelles, 28 septembrie 2010;
            li “Programul Stockholm din perspectiva germană”, Fundația Konrad Adenauer, Bruxelles, 2 sept. 2010;
            li “Rolul Parlamentului German în politicile UE după Tratatul de la Lisabona”, Fundația Konrad Adenauer, Bruxelles, 13 aprilie 2010;
            li “Ziua comemorării victimelor mafiei și crimei organizate”, a 40-a aniversare, Asociațiile LIBERA – Nume și numere împotriva mafiei, Torino și Milano, 19-21 martie, 2010;
            li “Un continent în schimbare? Oportunități și provocări pentru extinderea Uniunii Europene”, Institutul Freeman Spogli pentru Studii Internaționale, Universitatea Stanford, Stanford, noiembrie 2007;
            li “Drepturile omului și corupția”, Facultatea de Drept, Universitatea Stanford, Stanford, noiembrie 2007;
            li “Demersuri de combatere a corupției în Europa. Experiența României”, Proiectul SECURINT, Universitatea Robert Schumann, Strasbourg, octombrie 2007;
            li “Cum să combatem și să eliminăm corupția politică – Rolul sistemului juridic”, Institutul Renner, Viena, octombrie 2007;
            li “Provocări și oportunități pentru extinderea UE”, Hertie School of Governance, Berlin, septembrie 2007;
            li “Împotriva curentului. Demersurile de anti-corupție în România”, Harvard Kennedy School of Government, Cambridge, aprilie 2007;
            li “Sectorul justiției în eforturile anti-corupție și strategiile și abordările de combatere a corupției judiciare”, Banca Mondială, Washington, aprilie 2007.

      section(id="audieri")
        h2 AUDIERI PUBLICE ORGANIZATE CA MEMBRU AL PARLAMENTULUI EUROPEAN
        .content
          ul
            li Aprilie 2013                “Școala noastră“, proiecție de film privind discriminarea romilor, Parlamentul European, Bruxelles;
            li Aprilie 2013                “Urmărește banii peste granițe – Cum demască jurnalismul de investigație crima organizată și corupția transfrontalieră“, co-organizată cu The Organized Crime and Corruption Reporting Project, Freedom House România și Rise Project, cu participarea a 14 jurnaliști de investigație din 8 țări, Parlamentul European, Bruxelles;
            li Noiembrie 2012          “Educație și Democrație: Drumul spre o pace durabilă prin respectarea drepturilor omului“, cu participanți din regiunea Transnistriană și România, Parlamentul European, Bruxelles;
            li Noiembrie 2012          “L’art qui reunit“, expoziție, Parlamentul European, Bruxelles;
            li Noiembrie 2011          “Abordările UE privind reformele în justiție: Lecții învățate de la România și Bulgaria, Moldova și Ucraina, Croația, Macedonia și Serbia“, co-organizată cu Centrul Român pentru Politici Europene, Bruxelles;
            li Octombrie 2011          “Memoria ca formă de justiție“, co-organizată cu Fundația Academiei Civice, sub patronajul lui Jerzy Buzek, Președintele Parlamentului European, Bruxelles;
            li Martie 2011                “București 2011: Politici urbane și vestigii culturale“, Parlamentul European, Bruxelles;
            li Decembrie 2010          “Legea anti-mită din Marea Britanie (2010): Un model de politică anticorupție“, Parlamentul European, Bruxelles;
            li Decembrie 2010          “Integritatea politică în partidele de centru-dreapta din Europa Centrală și de Est“, co-organizată cu Centrul pentru Studii Europene, Fundația Eduardo Frei, Institutul Român pentru Studii Populare, Institutul Republican Internațional și Fundația Konrad Adenauer, București;
            li Noiembrie 2010          “Mecanismul de cooperare și verificare pentru Bulgaria și România: 3 ani mai târziu“, co-organizată cu Centrul pentru Politici Europene și Societatea Academică din România, Parlamentul European, Bruxelles;
            li Septembrie 2010         “Politica UE anti-corupție pentru un viitor durabil“, Parlamentul European, Bruxelles;
            li Iulie 2010                   “Corupția: o afacere europeană?“, Parlamentul European, Bruxelles;
            li Iunie 2010                  “Republica Moldova: Un an de la schimbarea pro-europeană“, Parlamentul European, Bruxelles.

      section(id="limbistraine")
        h2 LIMBI  STRĂINE:  
        .content 
          p Engleză (excelent), Franceză (bine).

    .col-md-4.nav.sidebar(id="affix-nav")
      ul.nav.sidenav.affix-top(data-spy="affix", data-offset-top="10")
        li.active: a(href="#{url}#cinesunt") Cine sunt
        li: a(href="#{url}#premii") Premii
        li: a(href="#{url}#apartenenta") Apartenență
        li: a(href="#{url}#educatie") Educație
        li: a(href="#{url}#pregatire") Pregătire
        li: a(href="#{url}#experienta") Experiență
        li: a(href="#{url}#publicatii") Publicații
        li: a(href="#{url}#discursuri") Discursuri
        li: a(href="#{url}#audieri") Audieri
        li: a(href="#{url}#limbistraine") Limbi străine

