
.content
  .post
    .head
      a(href="#{locals.url}")
        img(src="#{locals.thumb}", style="max-width: 12em;")
    .body
      a(href="#{locals.url}")
        h3.media-heading.post-title !{locals.title}
      blockquote: .small !{locals.preview}
      p.small.pull-left Publicat: #{locals.date}
      a.read-more.pull-right(href="#{locals.url}") Citește
