.container.postShow
  //- .row
  //-   .col-md-2.hidden-sm.hidden-xs
  //-     if locals.thumb
  //-       img(src="#{locals.thumb}", style="margin-top: 1em; width: 100%;")
  //-   .col-md-8.col-sm-10.col-sm-offset-1.content
  //-     h2: strong #{locals.title}
  //-     if locals.author
  //-       p.small #{locals.author}

  //-     div.serif(style="margin-top: 2em;") !{locals.content}
  //-     small Data: #{locals.date}
  //-       if locals.source
  //-         span  / Sursa:
  //-           a(href="#{locals.source}") #{locals.source}
.row
  .col-md-8.col-sm-10.col-md-offset-2.col-sm-offset-1
    .article
      header
        h1: strong #{locals.title}
        .row
          .col-xs-6
            .fb-like(data-href='https://developers.facebook.com/docs/plugins/', data-layout='button', data-action='recommend', data-show-faces='false', data-share='false')

          .col-xs-6
            if locals.author
              p.small(style="text-align: right") de #{' '}
                span.author  #{locals.author}

      .content !{locals.content}

      footer
        small Publicat: #{locals.date}
          //- time.updated(datetime="#{locals.date}", pubdate) #{locals.date}
          if locals.source
            span  / Sursa:
              a(href="#{locals.source}") #{locals.source}
