
.content
  .post
    .row
      .col-xs-9
        a(href="#{locals.url}")
          h3.media-heading.post-title !{locals.title}

      .col-xs-3
        a(href="#{locals.url}")
          img(src="#{locals.thumb}")
    blockquote: .small !{locals.preview}
    .row
      .col-xs-6
        p.small Publicat: #{locals.date}
      .col-xs-6
        a.read-more.pull-right(href="#{locals.url}") Citește
